{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 5%",
            "ie > 9"
          ],
          "uglify": true
        }
      }
    ],
    [
      "react"
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-async-functions",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "comments": true,
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}