.subHead{
  display: flex;
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}
.body{
  display: flex;

  width: 1200px;
  margin: 0 auto;

  .leftColumn{
width: 100%;
    margin-right: 15px;

  }
  .rightColumn{
    width: 335px;
  }
}